* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.mr-40 {
  margin-right: 40px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.list-inline {
  list-style: none;
  display: flex;
}

header .header-top {
  background-color: #0282F9;
}

header .header-top div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-top p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

header .navbar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar a {
  display: flex;
}

header .navbar a img {
  width: 80px;
}

header .navbar ul {
  line-height: 100px;
}

header .navbar ul li {
  margin: 0 10px;
}

header .navbar ul li.active {
  border-bottom: 5px solid #0282F9;
}

header .navbar ul li.active a {
  color: #0282F9;
}

header .navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #464C52;
  font-weight: bold;
}

header .navbar ul li a i {
  color: #0282F9;
  line-height: 100px;
}

header .navbar .search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #0282F9;
}

header .navbar .search input {
  width: 90px;
  font-weight: bold;
  text-align: right;
  border: 0;
  outline: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

header .navbar .search ::-moz-placeholder {
  color: #464C52;
}

header .navbar .search :-ms-input-placeholder {
  color: #464C52;
}

header .navbar .search ::placeholder {
  color: #464C52;
}

header .navbar .search i {
  color: #464C52;
}

header .jumbo {
  height: 290px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main #comics-list {
  background-color: #1C1C1C;
}

main #comics-list .comics {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 20px 0;
  text-align: center;
}

main #comics-list .comics > p {
  display: inline-block;
  background-color: #0282F9;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

main #comics-list .comics .comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

main #comics-list .comics .comics-container .comic {
  width: calc(100% / 6 - 20px);
}

main #comics-list .comics .comics-container .comic .comic-cover {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

main #comics-list .comics .comics-container .comic .comic-cover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main #comics-list .comics .comics-container .comic p {
  text-transform: uppercase;
  color: #fff;
}

main #comics-list .comics > a.load {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #0282F9;
  padding: 5px 50px;
  font-size: 14px;
  font-weight: bold;
}

main #services {
  background-color: #0282F9;
  height: 150px;
  display: flex;
  align-items: center;
}

main #services div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

main #services div ul {
  justify-content: space-around;
  align-items: center;
}

main #services div ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
}

main #services div ul li a img {
  height: 55px;
  margin-right: 10px;
}

main #services div ul li:last-child img {
  height: 35px;
}

