* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.mr-40 {
  margin-right: 40px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.list-inline {
  list-style: none;
  display: flex;
}

.border-y {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.border-b {
  border-bottom: 1px solid #DCDCDC;
}

.border-t {
  border-top: 1px solid #DCDCDC;
}

.border-x {
  border-right: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
}

.border-r {
  border-right: 1px solid #DCDCDC;
}

header .header-top {
  background-color: #0282F9;
}
header .header-top div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
header .navbar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar a {
  display: flex;
}
header .navbar a img {
  width: 80px;
}
header .navbar ul {
  line-height: 100px;
}
header .navbar ul li {
  margin: 0 10px;
}
header .navbar ul li.active {
  border-bottom: 5px solid #0282F9;
}
header .navbar ul li.active a {
  color: #0282F9;
}
header .navbar ul li:hover {
  border-bottom: 5px solid #0282F9;
}
header .navbar ul li:hover a {
  color: #0282F9;
}
header .navbar ul li a {
  text-decoration: none;
  color: #464C52;
  font-weight: bold;
  text-transform: uppercase;
}
header .navbar ul li a i {
  color: #0282F9;
  line-height: 100px;
}
header .navbar .search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #0282F9;
}
header .navbar .search input {
  width: 90px;
  font-weight: bold;
  text-align: right;
  border: 0;
  outline: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
header .navbar .search ::-moz-placeholder {
  color: #464C52;
}
header .navbar .search :-ms-input-placeholder {
  color: #464C52;
}
header .navbar .search ::placeholder {
  color: #464C52;
}
header .navbar .search i {
  color: #464C52;
}
header .jumbo {
  height: 290px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main #comics-list {
  background-color: #1C1C1C;
}
main #comics-list .comics {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 20px 0;
  text-align: center;
}
main #comics-list .comics > p {
  display: inline-block;
  background-color: #0282F9;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
main #comics-list .comics .comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}
main #comics-list .comics .comics-container .comic {
  width: calc(100% / 6 - 20px);
  text-decoration: none;
}
main #comics-list .comics .comics-container .comic .comic-cover {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
main #comics-list .comics .comics-container .comic .comic-cover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main #comics-list .comics .comics-container .comic p {
  text-transform: uppercase;
  color: #fff;
}
main #comics-list .comics > a.load {
  text-decoration: none;
  color: #fff;
  background-color: #0282F9;
  padding: 5px 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
main #services {
  background-color: #0282F9;
  height: 150px;
  display: flex;
  align-items: center;
}
main #services div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
main #services div ul {
  justify-content: space-around;
  align-items: center;
}
main #services div ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
main #services div ul li a img {
  height: 55px;
  margin-right: 10px;
}
main #services div ul li:last-child img {
  height: 35px;
}
main #comic-info .line {
  background-color: #0282F9;
  height: 60px;
}
main #comic-info .comic-details {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px;
  position: relative;
}
main #comic-info .comic-details .cover {
  position: absolute;
  top: -310px;
  left: 100px;
  border: 1px solid #fff;
}
main #comic-info .comic-details .cover a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #00A9D9;
}
main #comic-info .comic-details .cover a.cover-top {
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0;
}
main #comic-info .comic-details .cover a.cover-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2px 0;
}
main #comic-info .comic-details .comic-description {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
main #comic-info .comic-details .comic-description .text {
  width: calc(100% / 3 * 2 - 25px);
}
main #comic-info .comic-details .comic-description .text h1 {
  color: #003F63;
  text-transform: uppercase;
  font-size: 30px;
}
main #comic-info .comic-details .comic-description .text .price {
  background-color: #55BA59;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #357739;
  margin: 30px 0 20px;
}
main #comic-info .comic-details .comic-description .text .price p {
  padding: 15px 25px;
  font-weight: bold;
  color: #bafd9c;
}
main #comic-info .comic-details .comic-description .text .price p span {
  color: #fff;
}
main #comic-info .comic-details .comic-description .text .price div {
  display: flex;
  justify-content: space-between;
}
main #comic-info .comic-details .comic-description .text .price div a {
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
  border-left: 1px solid #357739;
  line-height: 50px;
}
main #comic-info .comic-details .comic-description .text .price div a i {
  font-size: 12px;
}
main #comic-info .comic-details .comic-description .text p {
  color: #555555;
  font-size: 17px;
  line-height: 23px;
}
main #comic-info .comic-details .comic-description .advertisement h4 {
  text-transform: uppercase;
  color: #555555;
  text-align: right;
  margin-bottom: 10px;
}
main #comic-info .credits {
  background-color: #F6F6F6;
}
main #comic-info .credits .credits-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px;
}
main #comic-info .credits .credits-container .credits-info {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
main #comic-info .credits .credits-container .credits-info > div {
  width: calc(50% - 10px);
}
main #comic-info .credits .credits-container .credits-info > div h2 {
  color: #003F63;
  margin: 20px 0;
}
main #comic-info .credits .credits-container .credits-info > div > div {
  display: flex;
  padding: 15px 0;
  font-size: 13px;
}
main #comic-info .credits .credits-container .credits-info > div > div p {
  color: #003F63;
  width: 150px;
}
main #comic-info .credits .credits-container .credits-info > div.talent a {
  text-decoration: none;
  color: #0282F9;
}
main #comic-info .credits .credits-container .credits-info > div.specs .writer a {
  text-decoration: none;
  color: #0282F9;
  text-transform: uppercase;
}
main #comic-info .services {
  background-color: #9F9F9F;
}
main #comic-info .services div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px;
}
main #comic-info .services div ul li {
  padding: 20px;
  width: 25%;
}
main #comic-info .services div ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
}
main #comic-info .services div ul li a img {
  height: 40px;
}
main #characters {
  background-color: #DCDCDC;
}
main #characters > div {
  height: 400px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
main #characters > div div span {
  color: #0282F9;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
main #characters > div div h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #003F63;
  margin: 20px 0;
}
main #characters > div div p {
  font-size: 18px;
}
main #characters > div img {
  height: 100%;
}

footer .links-container {
  background-image: url("/img/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .links-container .links {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/img/dc-logo-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 40px 0;
}
footer .links-container .links .links-lists {
  display: flex;
}
footer .links-container .links .links-lists .list {
  margin-right: 20px;
}
footer .links-container .links .links-lists .list h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 15px 0;
}
footer .links-container .links .links-lists .list ul {
  list-style: none;
}
footer .links-container .links .links-lists .list ul li:hover a {
  color: #0282F9;
}
footer .links-container .links .links-lists .list ul li a {
  text-decoration: none;
  color: #959595;
  font-size: 12px;
}
footer .links-container .links p {
  margin-top: 15px;
  color: #959595;
  font-size: 12px;
}
footer .links-container .links p a {
  text-decoration: none;
  color: #0282F9;
}
footer .copyright {
  background-color: #303030;
}
footer .copyright > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copyright > div > a {
  border: 2px solid #0282F9;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
footer .copyright > div > a:hover {
  background-color: #0282F9;
}
footer .copyright > div .social {
  display: flex;
  align-items: center;
}
footer .copyright > div .social h3 {
  text-transform: uppercase;
  color: #0282F9;
}
footer .copyright > div .social ul li {
  margin-left: 20px;
}