.mr-40 {
  margin-right: 40px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.list-inline {
  list-style: none;
  display: flex;
}

.border-y {
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
}

.border-b {
  border-bottom: 1px solid $lightGrey;
}

.border-t {
  border-top: 1px solid $lightGrey;
}

.border-x {
  border-right: 1px solid $lightGrey;
  border-left: 1px solid $lightGrey;
}

.border-r {
  border-right: 1px solid $lightGrey;
}
