@mixin container-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@mixin a-style($color) {
  text-decoration: none;
  color: $color;
}

@mixin btn-blue {
  background-color: $primaryColor;
  padding: 5px 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin btn-transparent {
  border: 2px solid $primaryColor;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
